<!-- ======= Contact Section ======= -->
<section class="contact section-bg" id="contact">
	<div class="container">
		
		<div class="section-title" data-aos="fade-in" data-aos-delay="100">
			<h2>Contact</h2>
			<p>If you have any questions or need help, please fill out the form below. We do our
				best to respond within 1 business day.</p>
		</div>
		
		<div class="row" data-aos="fade-up" data-aos-delay="100">
			<div class="col-lg-6">
				<div class="info-box mb-4">
					<i class="bx bx-map"></i>
					<h3>Our Address</h3>
					<p>Kwa Vonza, Kitui, Kenya</p>
				</div>
			</div>
			
			<div class="col-lg-3 col-md-6">
				<div class="info-box  mb-4">
					<i class="bx bx-envelope"></i>
					<h3>Email Us</h3>
					<p>contact@logo247designs.com</p>
				</div>
			</div>
			
			<div class="col-lg-3 col-md-6">
				<div class="info-box  mb-4">
					<i class="bx bx-phone-call"></i>
					<h3>Call Us</h3>
					<p>+254 725 319 340</p>
				</div>
			</div>
		
		</div>
		
		<div class="row" data-aos="fade-up" data-aos-delay="200">
			
			<div class="col-lg-6 ">
				<iframe
						allowfullscreen
						class="mb-4 mb-lg-0"
						frameborder="0"
						loading="lazy"
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.655010008043!2d37.82749381536768!3d-1.3836282361318677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1825af9e2e09ffbb%3A0xb3a3817c71ae5568!2sKWA%20VONZA%20TOWN!5e0!3m2!1sen!2ske!4v1627016468095!5m2!1sen!2ske"
						style="border:0; width:100%; height: 384px;"></iframe>
			</div>
			
			<div class="col-lg-6">
				<form action="forms/contact.php" class="php-email-form" method="post"
				      role="form">
					<div class="form-row">
						<div class="col-md-6 form-group">
							<input class="form-control" data-msg="Please enter at least 4 chars"
							       data-rule="minlen:4" id="name"
							       name="name" placeholder="Your Name"
							       type="text"/>
							<div class="validate"></div>
						</div>
						<div class="col-md-6 form-group">
							<input class="form-control" data-msg="Please enter a valid email"
							       data-rule="email" id="email"
							       name="email" placeholder="Your Email"
							       type="email"/>
							<div class="validate"></div>
						</div>
					</div>
					<div class="form-group">
						<input class="form-control"
						       data-msg="Please enter at least 8 chars of subject"
						       data-rule="minlen:4" id="subject"
						       name="subject" placeholder="Subject"
						       type="text"/>
						<div class="validate"></div>
					</div>
					<div class="form-group">
                            <textarea class="form-control" data-msg="Please write something for us"
                                      data-rule="required"
                                      name="message" placeholder="Message"
                                      rows="5"></textarea>
						<div class="validate"></div>
					</div>
					<div class="mb-3">
						<div class="loading">Loading</div>
						<div class="error-message"></div>
						<div class="sent-message">Your message has been sent. Thank you!</div>
					</div>
					<div class="text-center">
						<button type="submit">Send Message</button>
					</div>
				</form>
			</div>
		
		</div>
	
	</div>
</section><!-- End Contact Section -->
